
.hed:hover{
    color:brown;

}


.hed{
    color: red;
}
ul{
   text-decoration: none;
}
.hero-sec{
    color: azure;
    font-family: 'Imbue';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.055em;

}
.hed{
    color:aqua;
    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.055em;
   
}
.logo-span{
    font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.055em;

color: #807C7C;


}
.logo{
    font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.055em;
color: black;
}
.hero{
    background-color: #2f303a;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;

    
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
     url("./img/hero.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.market{
    display: flex;
    justify-content: center;
    align-items: center;
}
.market li + li{
    margin-left: 50px;
}
.market-link{
    color:#000;
    position: absolute;
    width: 1199px;
    height: 804px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.055em;
    
}
li{
    list-style: none;
}

ul{ 
    list-style: none;
}
.contairn{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    
    padding-top: 300px;
    padding-bottom: 300px;
    margin: 0;
}
a{
    text-decoration: none;
}
.mmn{
    background-color: gray;
}
.lviv{
    color:#000;
    position: absolute;
    width: 1199px;
    height: 804px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.055em;
    
}
.is-hiden{
    margin-top: 300px;
}
.svg{
    margin-right: 150px;
    padding-right: 150px;
    width: ;
}
.section1{
    background-image: url(./img/еанікен.jpg);
    height: 7000px;
    
}
footer{
    background-color: #2f303a;
    height: 270px;
    

}
.phone{
    color: azure;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.055em;
}
.social-network-list{
    display: flex;
    fill: azure;
    color: azure;
}
.social-network-list li + li{
    margin-left: 15px;
}
.social-link{
    fill: azure;
}
.logo-span3{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 150;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color:aliceblue;
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: ;
    width: 100px;
    top: 50px;
}
.pop{
    text-align: center;
    align-items: center;
    width: 50px;
    justify-content: center;
    margin-left: 400px;
    justify-content: center;
}
.qwerty{
    justify-content: center;
    margin-left: 345px;
    margin-top: -115px

}
.text{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 3000;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.055em;
    color:aliceblue;
   justify-content: center;
}
.join-link{
    justify-content: center;
    margin-left: 600px;
    margin-top: -100px;
}
.your{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 3000;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.055em;
    color:aliceblue;
}
.join-type{
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 3000;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.055em;
    color:aliceblue;

}